@font-face {
    font-family: Gun_shop;
    src: url('../../../Assets/Fonts/FarenheightPersonalUseRegular-9YdJ7.ttf');
}

@font-face {
    font-family: nav;
    src: url('../../../Assets/Fonts/AmericanCaptainPatrius02Fre-PvPd.ttf');
}

@font-face {
    font-family: fontname;
    src: url('../../../Assets/Fonts/GAMERIA.ttf');
}

.fontgun {
    font-family: "Gun_shop" !important;
    text-shadow: 4px 4px 4px grey;
    font-size: 30px;
    color: black;
}

.a1:hover {
    text-decoration: none;
}


.fontgunsm {
    font-family: "Gun_shop" !important;
    text-shadow: 4px 4px 4px grey;
    font-size: 22px;
    color: black;
}

.fontnav {
    font-family: "nav" !important;
    font-size: 25px;
    margin-right: 75px;
    letter-spacing: 1px;
}

.fontnum {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.linkheader {
    font-size: 20px;
    margin-right: 10px;
}

.ipsearch {
    outline: none;
    border: none;
}


.cart {
    margin-right: 10px;
    color: black;
    font-weight: bold;
}

.cart:hover {
    color: hsl(69deg 23% 33%);
    text-decoration: none;
}

.icon-header {
    margin-right: 10px;
    color: black;
    font-size: 21px;
}

.icon-header:hover {
    color: hsl(69deg 23% 33%);
}

.user {
    color: black;
    font-weight: bold;
}

.user:hover {
    color: hsl(69deg 23% 33%);
}

.box-search1 {
    width: 440px;
    position: absolute;
    background: white;
    top: 50px;
    left: 18px;
    z-index: 20;
}

.box-search2 {
    width: 265px;
    position: absolute;
    background: white;
    top: 50px;
    left: 18px;
    z-index: 20;
}

.box-search3 {
    width: 400px;
    position: absolute;
    background: white;
    top: 50px;
    left: 18px;
    z-index: 20;
}

.img-search {
    width: 60px;
    height: 60px;
    margin-right: 40px;
    margin-left: 15px;
}

.form-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.see-more {
    margin-left: 140px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
}

.p-result {
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.fontname {
    font-family: "fontname" !important;
}

.linkitem:hover {
    text-decoration: none;
    color: black;
}

.linkitem {
    color: black;
}

.form-item:hover {
    background-color: hsl(69deg 23% 33%);
}